* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', sans-serif;
    background: linear-gradient(to bottom, darkgreen, black);
    color: #E0E0E0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 0;
    text-align: center;
}

.container {
    margin-top: 50px;
    height: 50%;
    width: 80%;
    nax-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.3);
    text-align: center;
    bottom: 50px;
    margin-bottom: 50px;
}

h1, h2 {
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

header {
    text-align: center;
}

header p {
    color: #B0B0B0;
    font-style: italic;
}

.nicknames, .bio, .details, .devices {
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
    color: #E0E0E0;
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: bottom;
    bottom: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.hidden-footer {
    transform: translateY(100%);
}
