/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', sans-serif;
    background-image: url('background.gif');
    background-position: center;
    color: #E0E0E0; /* Светлый текст по умолчанию */
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center; /* Центрирование текста на уровне body */
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #1E1E1E; /* Темный фон контейнера */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Центрирование текста внутри контейнера */
}

/* Заголовки */
h1, h2 {
    color: #FFFFFF; /* Белый цвет заголовков */
    text-align: center; /* Центрирование заголовков */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Блоки */
header {
    text-align: center; /* Центрирование текста в header */
}

header p {
    color: #B0B0B0; /* Серый цвет для подписи */
    font-style: italic;
}

.bio, .details, .devices {
    margin-bottom: 20px;
    text-align: center; /* Центрирование текста в bio и details */
}

ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Центрирование текста в списке */
}

ul li {
    margin-bottom: 10px;
    color: #E0E0E0; /* Светлый текст для деталей */
}

footer {
    color: #B0B0B0; /* Серый цвет для футера */
    font-size: 0.9rem;
    text-align: center; /* Центрирование текста в footer */
}

/* Ссылки */
a {
    color: #BB86FC; /* Цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
